<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Events</title>
</head>
<body>


<main>
    <center>
        <h2>
            Events list

        </h2>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Date</th>
                    <th scope="col">Description</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="event : ${events}">
                    <td th:text ="${event.title}">...</td>
                    <td th:text="${event.date}">...</td>
                    <td th:text="${event.description}">...</td>
                </tr>
                </tbody>
            </table>
        </div>

        <a th:href="@{/event-form}"
           class="btn btn-sm btn-success float-end">Add new event</a>
        </center>
</main>