<div th:fragment="fragment" class="single-comment justify-content-between d-flex"
     style="background-color: #f6f6f6; margin-bottom: 20px;">
    <div class="user justify-content-between d-flex" style="width:100%;">
        <div class="desc" style="margin: 3%">
            <p class="comment">
                Lorem ipsum dolor sit amet. This event is neat. Sure I am gonna come.
            </p>
            <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                    <h5>
                        <a href="#">Participant User</a>
                    </h5>
                    <p class="date">01-01-1900</p>
                </div>
            </div>
        </div>
    </div>
</div>

