<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SignUp</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css"/>
</head>
<body>

    <div class="container text-center">
        <div>
          <h1>User Login</h1>
        </div>
        <form th:action="@{/process_success}" method="post"
              style="max-width: 600px; margin: 0 auto;"
              th:object="${user}">


    <div class="p-3">
        <div class="form-group row">
            <label class="col-4 col-form-label">username</label>
            <div class="col-8">
                <input type="text" class="form-control" th:field="*{username}" required />
            </div>
        </div>
        <br>
        <div class="form-group row">
            <label class="col-4 col-form-label">Password: </label>
            <div class="col-8">
                <input type="password" th:field="*{password}" class="form-control"
                       required minlength="6" maxlength="10"/>
            </div>
        </div>
        <br>

        <div>
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </div>

        </div>
        </form>

        <footer><a th:href="@{/}">back</a></footer>
    </div>
</body>
</html>