<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SignUp</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css"/>
</head>
<body>

<div class="container text-center">
    <div>
        <h1>User Registration - Sign Up</h1>
    </div>
    <form
            name="registerFrm"

            th:action="@{/process_register}" method="post"
            style="max-width: 600px; margin: 0 auto;"
            th:object="${user}">


        <div class="p-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">Username</label>
                <div class="col-8">
                    <input type="text" class="form-control" th:field="*{username}" required placeholder="enter your username"/>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label class="col-4 col-form-label">E-mail</label>
                <div class="col-8">
                    <input type="email" class="form-control" th:field="*{email}" required placeholder="enter your e-mail"/>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label class="col-4 col-form-label control-label">Password </label>
                <div class="col-8">
                    <input type="password" name="password" class="form-control" id="password"
                           oninput="check()"
                           th:field="*{password}" required minlength="8" maxlength="30" placeholder="enter your password"/>
                </div>
            </div>
            <br>

            <div class="form-group row">
                <label class="col-4 col-form-label control-label">Confirm password: </label>
                <div class="col-8">
                    <input type="password" name="confirmPassword" class="form-control is-valid" id="confirmPassword"
                           oninput="check()"
                           required minlength="8" maxlength="30" placeholder="confirm your password"/>

                </div>
            </div>
            <br>
            <div class="form-group row">
                <label class="col-4 col-form-label">First name</label>
                <div class="col-8">
                    <input type="text" class="form-control" th:field="*{firstName}" required
                           minlength="2" maxlength="20" placeholder="enter your first name"/>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label class="col-4 col-form-label">Last name</label>
                <div class="col-8">
                    <input type="text" class="form-control" th:field="*{lastName}" required
                           minlength="2" maxlength="20" placeholder="enter your last name" />
                </div>
            </div>
            <br>
            <div>
                <button id="submitBtn" type="submit" class="btn btn-primary mt-2">Register</button>
                <button id="backBtn" type="button" class="btn btn-secondary mt-2" th:href="@{/}">Go back</button>
            </div>

            <div>
                <p style="margin-top: 10px;">Already have an account? Click <a th:href="@{/login}">here</a> to log in.
                </p>
            </div>

        </div>
    </form>
    <script>

        function check() {

                if (document.getElementById("password").value == document.getElementById("confirmPassword").value) {
                        document.getElementById("confirmPassword").classList.remove("is-invalid");

                } else {
                    document.getElementById("confirmPassword").classList.add("is-invalid");
                    document.getElementById("submitBtn").disabled = true;
                }
            }
        }
    </script>
</div>
</body>
</html>